body {
    background-color: rgb(105, 66, 6);
    margin: 0;
}

.header-header {
    background-color: rgb(226, 166, 116);
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5px;
}

.header-img {
    width: 50px;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav button {
    background: gray;
    color: wheat;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.header-big-img{
    width: 100%;
    height: 50vh;
}
.header-big-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.welcome-main, .our-specials, .galerija-main, .about {
    color: white;
    text-align: center;
    padding: 25px 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.welcome-main button {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-size: 80px;
    width: 60%;
    height: 40vh;
    border-radius: 20px;
    cursor: pointer;
}

.welcome-img {
    background-image: url(https://oakaburgers.lv/wp-content/uploads/2022/12/mainimg6.jpg);
    background-size: cover;
    background-position: center;
}

.specials-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.specials-item img, .galerija-main img {
    border: solid black 5px;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.specials-item h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.specials-item p {
    font-size: 15px;
    margin-top: 0px;
}

.specials-flex button {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    font-size: 30px;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.vesture-img { 
    background-image: url(https://oakaburgers.lv/wp-content/uploads/2022/12/mainimg8.jpg); 
}
.sasniegumi { 
    background-image: url(https://oakaburgers.lv/wp-content/uploads/2023/04/nagradi-img.jpg); 
}
.BBQ { 
    background-image: url(https://oakaburgers.lv/wp-content/uploads/2022/12/about-img04.jpg); 
}

.true-footer {
    background-color: rgb(226, 166, 116);
    padding: 20px 0;
    margin-top: 40px;
}

.footer-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.footer-div h2 { 
    font-size: 25px; 
    margin-top: 0; 
}

.footer-div h3 {
    font-size: 20px; 
    margin: 0; 
}

.footer-div p {
    margin-top: 0;
}

.footer-div button {
    font-size: 16px;
    padding: 9px 13px;
    border-radius: 10px;
    border: none;
    margin-right: 7px;
    cursor: pointer;
}

.footer-IG { 
    background-color: rgb(225, 48, 108); 
    color: white; 
}
.footer-FB { 
    background-color: rgb(59, 89, 152); 
    color: white; 
}
.footer-YT { 
    background-color: rgb(255, 0, 0); 
    color: white; 
}

.p-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 20px;
}